.page-container {
    display: flex;
    flex-direction: column;

}

.task-container {
    display: flex;
    flex-direction: column;
    background-color: #1E123B;
    border-radius: 8px;
    padding: 46px 35px 100px 35px;
}

.page-container .add-task-btn {
    width: 201.38px;
    height: 49.38px;
    border: 2px solid #FCFCFC;
    border-radius: 7.72PX;
    background-color: #6C45CE;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17.75px;
    color: #FCFCFC;
}