.task {
    width: 674.37px;
    height: 61.73px;
    background-color: #FCFCFC;
    border: 1px solid #3C424A;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 37px;
}

.task.completed {
    background-color: #6C45CE;
    color: white;
}

.task input[type="checkbox"] {
   
  }